<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="background.html" class="dropdown-toggle">
      Background<b class="caret">
        </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="background.html">Background</a></li>
      <li><a href="use-cases.html">Use Cases</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="architectural-guidance.html" class="dropdown-toggle">
      Guidance<b class="caret">
        </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="architectural-guidance.html">Architectural Guidance</a></li>
      <li><a href="query-management.html">Query Management</a></li>
      <li><a href="testing.html">Testing</a></li>
      <li><a href="unit-testing.html">Unit Testing Proposal</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="authoring.html" class="dropdown-toggle">
      Authoring<b class="caret">
        </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="authoring.html">Authoring</a></li>
      <li><a href="patterns.html">Patterns</a></li>
      <li><a href="examples.html">Examples</a></li>
      <li><a href="usage.html">Usage</a></li>
      <li><a href="tooling-support.html">Tooling Support</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="artifacts.html" class="dropdown-toggle">
      CQL Artifacts<b class="caret">
        </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="Library-USCoreCommon.html">US Core Common</a></li>
      <li><a href="Library-USCoreElements.html">US Core Elements</a></li>
      <li><a href="uscore-modelinfo.html">US Core Model Information</a></li>
      <li><a href="Library-CumulativeMedicationDuration.html">Cumulative Medication Duration</a></li>
      <li><a href="Library-C4BBCommon.html">CARIN Blue Button Common</a></li>
      <li><a href="c4bb-modelinfo.html">CARIN Blue Button Model Information</a></li>
      <li><a href="qicore-modelinfo.html">QI Core Model Information</a></li>
    </ul>
  </li>
  <li><a href="artifacts.html">FHIR Artifacts</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="index.html" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec</a>
      </li>
      <li>
        <a target="_blank" href="http://cql.hl7.org/index.html">CQL Spec</a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir/uv/cql">Using CQL With FHIR</a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir/uv/crmi">Canonical Resource Management Infrastructure (CRMI)</a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir/uv/sdc">Structured Data Capture (SDC)</a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir/us/davinci-dtr">Documentation Templates and Rules (DTR)</a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir/us/core">US Core</a>
      </li>
      <li>
        <a target="_blank" href="https://chat.fhir.org/#narrow/channel/179220-cql">Discussion Forum</a>
      </li>
      <li>
        <a target="_blank" href="https://confluence.hl7.org/spaces/CDS/pages/256516986/DaVinci+CQL+Questionnaire+Support">Project Page</a>
      </li>
      <li>
        <a target="_blank" href="https://jira.hl7.org/secure/Dashboard.jspa?selectPageId=17807">Specification Dashboard</a>
      </li>
      <li>
        <a target="_blank" href="https://jira.hl7.org/secure/CreateIssueDetails!init.jspa?pid=10405&amp;issuetype=10600&amp;customfield_11302=FHIR-us-cql">Propose a Change</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
      <li>
        <a href="license.html">License</a>
      </li>
    </ul>
  </li>
  <li><a href="changes.html">Changes</a></li>
</ul>
